src/test/0003-no-fired-rules/0003.sch

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt"
    xmlns:sqf="http://www.schematron-quickfix.com/validator/process">
    <sch:pattern>
        <sch:rule context="p">
            <sch:assert test="true()"/>
        </sch:rule>
    </sch:pattern>
</sch:schema>